{{define "gameNotFound"}}
    <html>
    <head>
        <title>Recent - PSOStats</title>
        <link href="/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="outer-container">
        <header>
            <h1>PSOStats</h1>
        </header>
        <div class="body">
            <h2>Game Not Found</h2>
            <a href="/">Home</a>
        </div>
    </div>
    </body>
    </html>
{{end}}