body {
    background-color: #333;
    color: #ccc;
}
.nav-link:focus, .nav-link:hover {
    color: #aaa;
}
.nav-link {
    color: #ccc;
}
.list-group-item {
    background-color: #444;
    color: #cccccc;
}
.list-group-item:hover {
    background-color: #555;
}
.text-muted {
    color: #929ea8 !important;
}
a {
    color: #abcdff;
    text-decoration: none;
}
a:hover {
    color: #abcdff;
}
.table-dark {
    color: #ccc;
    --bs-table-bg: #333;
}

.category-row {
    border-bottom: 1px #777 solid;
}
.category-row:last-child {
    border-bottom: none;
}
.invisible-label {
    z-index: 1000;
    color: transparent;
    width: 100%;
    letter-spacing: 0;
    pointer-events: none;
    font-size: 12px;
    margin-left: -24px;
}
.quest-row {
    background-color: #444;
    border-top: 1px #777 solid;
}
.quest-category {
    font-size: 1.5rem;
}
.quest-time {
    font-size: 1.5rem;
}